In [2]:
import pandas as pd

In [3]:
brics=pd.read_csv('brics.csv')
brics

  Unnamed: 0        country  population      area    capital
0         BR         Brazil         200   8515767   Brasilia
1         RU         Russia         144  17098242     Moscow
2         IN          India        1252   3287590  New Delhi
3         CH          China        1357   9596961    Beijing
4         SA  South America          55   1221037   Pretoria

In [4]:
brics=pd.read_csv('brics.csv',index_col=0)
brics

          country  population      area    capital
BR         Brazil         200   8515767   Brasilia
RU         Russia         144  17098242     Moscow
IN          India        1252   3287590  New Delhi
CH          China        1357   9596961    Beijing
SA  South America          55   1221037   Pretoria

In [5]:
brics["country"]

BR           Brazil
RU           Russia
IN            India
CH            China
SA    South America
Name: country, dtype: object

In [10]:
brics.country

BR           Brazil
RU           Russia
IN            India
CH            China
SA    South America
Name: country, dtype: object

In [12]:
brics["one_earth"]=[True,True,True,True,True]
brics

          country  population      area    capital  one_earth
BR         Brazil         200   8515767   Brasilia       True
RU         Russia         144  17098242     Moscow       True
IN          India        1252   3287590  New Delhi       True
CH          China        1357   9596961    Beijing       True
SA  South America          55   1221037   Pretoria       True

In [6]:
brics["density"]=brics["population"]/brics["area"]*1000000
brics

          country  population      area    capital     density
BR         Brazil         200   8515767   Brasilia   23.485847
RU         Russia         144  17098242     Moscow    8.421918
IN          India        1252   3287590  New Delhi  380.826076
CH          China        1357   9596961    Beijing  141.398928
SA  South America          55   1221037   Pretoria   45.043680

In [7]:
brics.loc["BR"]

country         Brazil
population         200
area           8515767
capital       Brasilia
density        23.4858
Name: BR, dtype: object

In [11]:
brics.loc["CH","capital"]

'Beijing'

In [9]:
brics.loc["RU","capital"]

'Moscow'

In [10]:
brics.loc["","capital"]

'Pretoria'

In [16]:
brics.replace("South America","South Africa")

         country  population      area    capital     density
BR        Brazil         200   8515767   Brasilia   23.485847
RU        Russia         144  17098242     Moscow    8.421918
IN         India        1252   3287590  New Delhi  380.826076
CH         China        1357   9596961    Beijing  141.398928
SA  South Africa          55   1221037   Pretoria   45.043680

In [ ]:
brics.to_csv('brics2.csv')
bric2